* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
}

p {
    color: #27272799;
    font-size: 16px;
}

.primary-btn-color {
    background-color: #E55473;
    color: white;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 55px;
}

.header-container {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-container-left {

    margin: auto;
    padding: 40px;
}

.header-title {
    color: #272727;
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 40px;
}

.header-desc {
    padding-bottom: 40px;
    color: #27272799;
}

.header-container-right {

    margin: auto;
    padding-right: 40px;
    padding-top: 40px;
}

.header-img {
    width: 600px;
    height: 670px;

}


/* main part styles */

.container-hot-deals {
    background-color: #E554730D;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hot-deal-left {
    text-align: center;
    padding-left: 100px;
    padding-top: 40px;
}

.hot-deal-title {
    padding-bottom: 30px;
}

.hot-deal-desc {
    padding-bottom: 30px;
}


.hot-deal-img {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    align-items: center;
    padding-right: 150px;
    padding-top: 40px;
}

.container-insta {
    text-align: center;
    margin: 40px;
}

.insta-text {
    text-align: center;
    margin: 50px;
}

.insta-desc {
    margin-top: 20px;
}

.insta-image {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.inst-img {
    width: 290px;

    margin-bottom: 40px;

}

.container-latest-deals {
    text-align: center;
    background-image: url(./Flower\ Assets/Rectangle9.png);
    background-repeat: no-repeat;
    height: 449px;
    padding-top: 10%;
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    margin-bottom: -120px;
}

.email {

    display: flex;
    justify-content: center;
    gap: 20px;

}

.email-input {
    width: 600px;
    height: 55px;
    border: none;
    border-radius: 5px;
}

.email-input::placeholder {
    padding-left: 20px;
}

.btn-email {
    height: 55px;
    width: 100px;
}

.footer-info {
    background-color: black;
    color: white;
    text-align: center;
    display: block;

    height: 200px;
    padding-top: 80px;
}

.copyright-text {
    font-size: 10px;
    color: #FFFFFFE5;
    padding-top: 20px;
}

.footer-desc {
    color: #FFFFFFE5;
    padding-top: 20px;
    font-size: 15px;
}


.container-feature-flower {
    text-align: center;
    align-items: center;
    width: 70%;
    margin: auto;
    gap: 20px;
}

.image-part {

    display: flex;
    justify-content: space-around;
    gap: 50px;
    width: 100%;
    margin: auto;
}
.tulip{
width: 270px;
height: 370px;
}
.image1 {
text-align:center ;
    background-color: #A7216226;
    border-top-left-radius: 350px;
    border-top-right-radius:350px;
    width: 314px;
    height: 371px;
    margin: auto;
   
}

.image2 {

    background-color: #0597A026;
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    width: 314px;
    height: 371px;
}

.image3 {
    background-color: #477D1126;
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    width: 314px;
    height: 371px;


}


.delivery-service {
    width: 80%;
    margin: auto;
    height: 200px;
    background-color: #2727270D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.icon-size {
    width: 75px;
    height: 75px;

}

.bonus-section {
    border: 3px solid #698851;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: #DAF0F1;
    height: 200px;
}


.occasion-list {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #698851;
}