* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
}
p{
color: #27272799
}

.primary-btn-color {
    background-color: #E55473;
    color: white;
    border-radius: 5px;
    border: none;
    width: 170px;
    height: 60px;
}

.header-container {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-container-left {

    margin: auto;
    padding: 40px;
}

.header-title {
    color: #272727;
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 40px;
}

.header-desc {
    padding-bottom: 40px;
    color: #27272799;
}

.header-container-right {

    margin: auto;
    padding-right: 40px;
    padding-top: 40px;
}

.header-img {
    width: 600px;
    height: 700px;

}


/* main part styles */

.container-hot-deals {
    background-color: #E554730D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.hot-deal-left {
    text-align: center;
    padding-left: 100px;
    padding-top: 40px;
}
.hot-deal-title{
padding-bottom: 30px ;
}

.hot-deal-desc{
padding-bottom: 30px ;
}


.hot-deal-img{
width: 200px;
height: 300px;
flex-shrink: 0;
align-items: center;
padding-right: 150px;
padding-top: 40px;
}

.container-insta{
text-align: center;
margin: 40px;
}

.insta-text{
text-align: center;
margin: 50px;
}

.insta-desc{
margin-top: 20px;
}

.insta-image{
display: flex;
justify-content: center;
gap:15px;
}

.inst-img{
width:290px;

margin-bottom: 40px;

}
/* .image-part{
display: flex;
align-items: center;
justify-content: space-around;

}

.image1{
background-color: #A7216226;
border-top-left-radius: 350px;
border-top-right-radius: 350px;

 margin: auto;

}

.image2{
background-color:#0597A026 ;
}
.image3{
background-color:#477D1126;
} */